/Atividade_8.X/nbproject/private/
/Atividade_8.X/build/default/
/Atividade_8.X/dist/default/
/Teste_EEPROM.X/nbproject/private/
/Teste_EEPROM.X/build/default/
/Teste_EEPROM.X/dist/default/
/Atividade_9.X/nbproject/private/